altgraph==0.16.1
beautifulsoup4==4.7.1
bs4==0.0.1
future==0.17.1
macholib==1.11
pefile==2019.4.18
Pillow==6.0.0
PyInstaller==3.4
pyperclip==1.7.0
pyrasite==2.0
pywin32-ctypes==0.2.0
six==1.12.0
soupsieve==1.9.1
wxPython==4.0.4
